## Dataset description: 

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective is to predict based on diagnostic measurements whether a patient has diabetes.

Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years.

* Pregnancies: Number of times pregnant
* Glucose: Plasma glucose concentration a 2 hours in an oral glucose tolerance test
* BloodPressure: Diastolic blood pressure (mm Hg)
* SkinThickness: Triceps skin fold thickness (mm)
* Insulin: 2-Hour serum insulin (mu U/ml)
* BMI: Body mass index (weight in kg/(height in m)^2)
* Age: Age (years)
* Continent: Continent of patient's country
* **Outcome: Class variable (0 or 1)**

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import helpers as hlp
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
dataset = pd.read_csv('diabetes.csv')

In [3]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome,Continent
0,6,148,72,35,0,33.6,50,1,Europe
1,1,85,66,29,0,26.6,31,0,Europe
2,8,183,64,0,0,23.3,32,1,Asia
3,1,89,66,23,94,28.1,21,0,America
4,0,137,40,35,168,43.1,33,1,America