# Problem klasyfikacji

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv('class_data.csv')

In [3]:
df.head()

        X_1       X_2  y
0 -0.141765  0.558236  1
1  1.197966 -0.303995  1
2  0.759391  0.110250  1
3  0.023315 -0.603563  1
4 -0.807980  0.548466  0